/*  Ronakweb.com  */

@font-face {
    font-family: 'yekan';
    src: url(fonts/Yekan.eot);
    src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

* {
    font-family: yekan;
}

#playContainer {
    width: 100%;
    height: 80%;
    background-size: 100%;
}

#playAnswerBox {
    width: 100%;
    height: 20%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                             supported by Chrome and Opera */
    cursor: pointer;
}

.playCell {
    float: right;
}

.highlighted {
    background-color: #5ac8fa !important;
}

.playCellInner {
    background-color: #d4d4d4;
    width: 90%;
    height: 90%;
    margin: 5%;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.startCell {
    background-color: #d8e6e8;
}

.sentence {
    width: 100%;
    font-size: 12pt;
    text-align: center;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    background: #fff;
}

.swiper-slide span {
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 21px;
}

#lblLevel {
    border-radius: 50%;
    width: 42px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 6px;
    color: #00cc00;
}

#lblTyping{
    font-size: x-small;
    color: #009999;
}
#lblCoin{
    border-radius: 50%;
    width: 42px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 6px;
    color: #00cc00;
}
#coinContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: right;
}

.shaerImage {
    height: 40px;
    width: 40px;
    border: solid 1px transparent;
    border-radius: 50%;
}

.itemEnabled {
    background-color: #54cdea !important;
}
.itemDisabled{
    background-color: #eeeeee !important;

}

.levelItem{
    color: #0066d6;
    cursor: pointer;
    border-radius: 5px;
}

div[class*="col-"] {
    text-align: center;
    color: #104c5a;
    padding: 5px;
}
.row {
    margin-bottom: 15px;
}         
.content-block-title{
    padding-bottom:5px;
}
#lblShaer{
    text-align: center;
    color: #009999;
}